.container {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    background: #cccac5;
}

/* .content_banner {
    display: flex;
    justify-content: space-evenly;
    background-color: #242424;
    height: max-content;
    align-self: center;
    overflow-y: visible;
    height: 50vh;
    width: 100vw;
   
}  */

.content {
    display: flex;
    justify-content: space-around;
}

/* .content:hover > .content_right {
    background-position: 60%;
} */

.content_left {
    height: 50vh;
    /* overflow-y: hidden; */
    padding: 1em;
    transform: translateY(40%);
    color: #000;
    transition: all 1s;
    animation: fade-in 1s;
}

.content_left span {
    padding-left: 1em;
    padding-right: 1em;
}

.content_right {
    margin: 0 1em;
    align-self: center;
    box-shadow: inset 0px 0px 10px 1px #cccac5;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    width: 80vh;
    height: 64vh; 
    background: url(../assets/s.webp);
    background-position: 50%;
    transition: all 1s;
    animation: image-move 1s;
}

.content_right:hover {
    background-position: 30%!important;
}

.content_right img {
    z-index: 5;
    width: 600px;
    height: auto;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
}

.button_sign_in {
    animation: fade-in-bottom .85s;
}

.button_sign_up {
    animation: fade-in-bottom 1s;
}

@keyframes fade-in-bottom {
    0% {
        transform: translateY(100vh);
    }

    100% {
        /* transform: translateX(40%); */
        transform: translateY(0%);
    }
}

@keyframes fade-in {
    0% {
        /* transform: translateY(50%);         */
        /* transform: translateX(0); */
        transform: translateY(0%);
    }

    50% {
        transform: translateY(45%);
    }

    100% {
        /* transform: translateX(40%); */
        transform: translateY(40%);
    }
}

@keyframes image-move {
    0% {
        /* transform: translateY(50%);         */
        /* transform: translateX(0); */
        background-position: 0%;
    }

    50% {
        background-position: 55%;
    }

    100% {
        /* transform: translateX(40%); */
        background-position: 50%;
    }
}

